body {
    font-family: Calibri;
}

.nav {
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 15px 23px;
    width: 96%;
}

.logo {
    color: white;
    font-size: 40px;
    padding: 10px 50px;
    margin: auto;
}

.logo a {
    text-decoration: none;
    color: black;
    background: yellow;
    border-radius: 10px;
    padding: 5px;
    font: 40px;
}

.search {
    background: pink;
    color: aqua;
    border-radius: 10px;
}


.cart {
    color: white;
    font-size: 35px;
    padding: 10px 20px;
    background: red;
    border-radius: 10px;
}

.cart a {
    text-decoration: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.product {
    width: 25%;
    height: 25%;
    flex: 1 1 cal(25%-25px);
    max-width: cal(25%-25px);
    background: rgb(212, 240, 240);
    color: white;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
}

.product img {
    width: 220px;
    height: 230px;
}

.product:hover {
    
    color: yellow;
    background-color: red;
}