body {
    font-family: arial;
}

.navbar {

    display: flex;
    border: 2px solid yellow;
    padding: 5vh;
    border-radius: 5vh;
    /* background-image: url(https://tse1.mm.bing.net/th/id/OIP.K1BS6pjFhLNBq0n1FxVMiQHaHa?rs=1&pid=ImgDetMain&o=7&rm=3); */
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
}

.logo {
    color: red;
    font-size: 10vh;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* animation-name: myAnimation;
    animation-duration: 5s; */

}

.tooltip {
    visibility: hidden;
    border: 1px solid lightgreen;
    background-color: cadetblue;
    color: cornsilk;
    border-radius: 40px;
    padding: 5px;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.logo:hover .tooltip {
    /* @keyframes myAnimation {
        from {
            color: black;
        }

        to {
            color: yellow;
        }
    } */
    visibility: visible;
    padding: 5px;
    font-size: medium;
}

.about {
    border: 1px solid transparent;
    color: brown;
    background-image: url(https://img.freepik.com/free-photo/vintage-old-rustic-cutlery-dark_1220-4886.jpg);
    height: 100vh;
}

.bt {
    margin-left: 400px;
}

.innovative {
    margin-top: 100px;
    margin-left: 400px;
    color: cadetblue;
    font-size: 20px;
}
.button button{
    margin-left:500px;
    background-color:black;
    color:white;
    padding: 10px;
}

.button button:hover {
    background-color:red;
    color:white;
}

.us {
    margin-left: 400px;
    color: cadetblue;
    font-size: 100px;
}

.menu-section {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    gap: 20vh;

}

.menu-section a {
    text-decoration: none;
    color: red;
    font-size: 4vh;
}

.menu-section a:hover {
    border: 1px solid lightgreen;
    border-radius: 40px;
    padding: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid yellow;
    padding: 5vh;
    border-radius: 5vh;
    height: 100vh;

}

/* .section{
    padding:40px;
    transition:0.4s;
}

.container .section{
    filter:blur(5px);
    opacity:0.4;
}

.sectiona:target{
    filter:blur(0);
    opacity:1;
} */
.container {
    display: flex;
    flex-wrap: wrap;

}

.items {
    flex: 1 1 calc(33.33%);
    max-width: 33.33%;
    padding: 15px;
    /* margin:5px; */
    margin: 20px;
    border: 1px solid grey;
    border-radius: 30px;
    gap: 10px;
    text-align: center;
    color: black;
    justify-content: center;
    margin-right: 50px;
}

.items:hover {
    border: 1px solid yellow;
    background-color: black;
    color: white;
    font-size: 15px;
}

.items img {
    width: 50%;
}

/* .items img:hover{
    width:100%;
} */


.btn {
    border: 1px solid black;
    border-radius: 1vh;
    margin-right: 50px;
    background-color: tomato;
    color: white;
    padding: 15px;
}

.atc {
    border: 1px solid black;
    border-radius: 5vh;
    padding: 15px;
    background-color: chocolate;
    color: white;
}

.reviews {
    color: black;
}

.testimonial {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
}

.testimonial:hover {
    border: 1px solid yellow;
    color: white;
    background-color: black;
    padding: 5px;
}



.explore-iframe {
    flex: 60%;
    border: none;
}

.reviews-iframe {
    flex: 40%;
    border: none;
}

.footer {
    border: 2px solid yellow;
    padding: 5vh;
    border-radius: 40px;
    background-image: url(https://thumbs.dreamstime.com/b/cafe-interior-restaurant-graphic-black-white-sketch-vertical-illustration-vector-200049373.jpg);
    color: black;
    font-size: 5vh;
    text-align: center;
}